:root{
    --dark-color: #000;
    --nav-bg-color: #fff;
}

.mainnavbar .navbar-nav .active>.nav-link, 
.mainnavbar .navbar-nav .nav-link.active, 
.mainnavbar .navbar-nav .nav-link.show, 
.mainnavbar .navbar-nav .show>.nav-link {
    color: var(--dark-color);
    background-color: var(--nav-bg-color);
}
.mainnavbar .navbar-brand {
    height: 3.125rem;
    padding: 0.375rem 0;
}
.navbar.mainnavbar{
    padding: 0 1rem;
    font-weight: bold;
}
.mainnavbar .navbar-nav .nav-link {
    height: 3.125rem;
    line-height: 3.125rem;
    padding: 0 0.5rem;
}
.mainnavbar .navbar-nav .nav-link:focus, 
.mainnavbar .navbar-nav .nav-link:hover {
    color: var(--dark-color);
    background-color: var(--nav-bg-color);
}
.mainnavbar .navbar-nav .nav-item{
    margin-left: 0.3rem;
}
.mainnavbar .navbar-toggler {
    border-color: var(--nav-bg-color);
}
.mainnavbar .navbar-toggler i{
    color: var(--nav-bg-color);
}


